@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  }
}
